.swiperNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.swiperButtonPrev,
.swiperButtonNext {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    padding: 8px 16px;
}

.swiperButtonPrev {
    margin-right: auto;
}

.swiperButtonNext {
    margin-left: auto;
}